<!DOCTYPE html>

<html lang="en">

	<head>
        <meta charset="utf-8" />
        <title>{% block title %} Projet de programmation web M1 BBSG {% endblock%} </title>		
        <link rel="stylesheet" href="../../static/Mise_en_page.css"/>
		<meta name="Projet M1 BBSG" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script src="{{ STATIC_URL }}/static/J/jquery.tablesorter.js"></script>
		<script src="{{ STATIC_URL }}/static/J/jquery.tablesorter.min.js"></script>
		<script src="{{ STATIC_URL }}/static/J/jquery.tablesorter.widgets.js"></script>
		<script src="{{ STATIC_URL }}/static/J/jquery.gmap.min.js"></script>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA6cQIrMEc9zlaKBjWiPM5rxSjlBXfTSDcGsB79vzL90uiOHMpbBRa1FFoX2YfuQNFvFKxQtpz0ZCeuw&amp;hl=fr"></script>
     
     <script src="{{ STATIC_URL }}/static/JQ.js"></script>
    </head>
		
        <body>
			<div id = "container">

		{% block nav %}

		<ul id="menu">
					<li class = "border"><a href = "{% url 'home' %}"><img src = "../../static/images/accueil.png" alt = "logo home" class = "logo_home"/> Home </a></li>
					<li class = "border"><a href="{% url 'phenoL' %}"><img src = "../../static/images/logo_pheno.png" alt = "logo pheno" class = "logo_pheno"/> Phenotypes </a></li>
					<li class = "border"><a href="{% url 'snp' %}"><img src = "../../static/images/logo_SNP.png" alt = "logo SNP" class = "logo_SNP"/> SNP </a></li>
					{% if user.is_authenticated %}
					<li class = "border"><a href=""> Connected as {{user.username}} </a></li>
					<li><a href="{% url 'logout' %}"><img src = "../../static/images/logo_signout.png" alt = "logo sign out" class = "logo_signout"/> Sign out </a></li>
					{% else %}
					<li class = "border"><a href="{% url 'login' %}"><img src = "../../static/images/logo_user.png" alt = "logo user" class = "logo_user"/> Login </a></li>
					<li><a href="{% url 'signup' %}"><img src = "../../static/images/logo_signup.png" alt = "logo sign up" class = "logo_signup"/> Sign up </a></li>
					{% endif %}
		</ul>

		{% endblock %}


	<div id = "content"> {% block content %}{% endblock %}</div>

	
		{% block footer %}

	<div id = "footer">
		<img src = "../../static/images/amu.png" alt = "logo amu" class = "logo_amu"/>
		<p>Contact us | Locate us <br></p>
		<p class="contact"><a href="mailto:pauline.brochet@etu.univ-amu.fr,wail.zeitouni@etu.univ-amu.fr"><img src = "../../static/images/mail.png" alt = "logo mail" class = "mail"/></a><a href = "https://www.google.fr/maps?f=q&hl=fr&q=43.231556,5.439611"><img src = "../../static/images/map.png" alt = "logo map" class = "map"/></a></p>
	</div>
	<div id="map1" style="height: 200px; border: 1px solid #777; overflow: hidden;"></div>
	{% endblock %}

	</div>
	


    </body>




</html>



