{% extends "T/base.html" %}

{% block content %}
<div class = "login">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <strong>{{ field.label_tag }}</strong><br>
        {{ field }}
       
      </p>
    {% endfor %}
	<input type="submit" value="Log in" class = "button" />
  </form>
</div>

{% endblock %}






