{% extends "T/base.html" %}

{% block content %}

    
<div class = "presentation">
	<h2> Description </h2>
	<p> This website is a web plateform based on Django which allows you to find some informations about SNPs and polymorphisms of your choice. <br>
	On one side, you can get the position of a SNP of your choice, as weel as the polymorphism whith which it is associated and the article that demonstrated it. <br>
	On another side, you can have datas about a polymorphism, like the list of SNP which are implicated in, their position, and the article that demonstrated it. </p>
</div>
	
<div class = "phenotypes"><a href="{% url 'phenoL' %}">
	<h2> Phenotype </h2>
	<p class="align"> A phenotype is the observable characteristics (morphology, development...) of livings beings resulting from the expression of an organism's genetic code.</p>
</a></div>

<div class = "SNP"><a href="{% url 'snp' %}">
	<h2> SNP </h2>
	<p class="align"> Single Nucleotide Polymorphisms (SNP) are the most common type of genetic variation, which consist to a difference of one single nucleotide between living beings of a same species.</p>
</a></div>


{% endblock %}


