{% extends "T/base.html" %}

{% block content %}

<div class="search_l">
<form action="{% url "phenoL" %}" method="post">

    {% csrf_token %}

    <table>
 	 {{ form.as_table }}
    </table>


    <input type="submit" value="Select" class="button2"/>


</form>
</div>

<table class="table2">
	<tr><td class = "title_table2"> Phenotyp list </td></tr>
</table>
{% for p in pheno%}
<table class="table2">
<tr><td><a href="{% url 'phenoD' pk=p.id %}">{{p.Name}}</a></td></tr>
</table>
{% endfor %}



{% endblock %}
