{% extends "T/base.html" %}


{% block content %}

<h1> Results of your research : </h1>
	<table id = "myTable" class="table4">

		<tr>
			<th colspan="11" class="title_table4">{{pheno.Name}}</th>
		</tr>

		<tr>
			<th> SNP id <th>
			<th> Journal <th>
			<th> Study <th>
			<th> P-value <th>
			<th> Neglog10pvalue <th>
			<th> Date </th>
		</tr>

		<tr>
		{% for s, r, p in resultat %}

			<td><a href="{% url 'Redirection_details' pk=s.Snp_id %}">{{s.Snp_id}}<td>
			<td>{{r.Journal}}<td>
			<td><a href="http://{{r.Link }}">{{r.Title}}<td>
			<td>{{p.pvalue}}<td>
			<td>{{p.neglog10pvalue}}<td>
			<td>{{r.Date}}</td>
			{% endfor %}
		</tr>
	</table>

{% endblock %}
	

