{% extends "T/base.html" %}

{% block content %}
<table class=table5>
	<tr>
	<th> id <th>
	<th> Chromosome <th>
	<th> Chromosome position <th>
	<th> Reference SNP Cluster <th>
	<th> Phenotype <th>
	<th> Study <th>
	<th> p-value <th>
	</tr>

{% for sn in sp %}
<tr>
<td>{{sn.id}}<td>
<td>{{sn.Chrom}}<td>
<td>{{sn.Chrom_pos}}<td>
<td>{{sn.Rsid}}<td>
{% endfor %}
<td><a href="{% url 'phenoD' pk=pheno.id %}">{{pheno.Name}}</a><td>

<td><a href="http://{{st.Link}}">{{st.Title}}</a><td>

<td>{{pv.pvalue}}<td>

</tr>



</table>

{% endblock %}

