{% extends "T/base.html" %}

{% block content %}
<h1> Results of your research : </h1>

<table id = "myTable" class="table3">
	<tr>
	<th> id <th>
	<th> Chromosome <th>
	<th> Chromosome position <th>
	<th> Reference SNP Cluster <th>
	<th> Details </th>
	</tr>


{% for sn in snps %}
<tr>
<td>{{sn.id}}<td>
<td>{{sn.Chrom}}<td>
<td>{{sn.Chrom_pos}}<td>
<td>{{sn.Rsid}}<td>
<td><a href="{% url 'Redirection_details' pk=sn.id %}"><img src = "../../static/images/detail.jpg" alt = "logo detail" class = "logo_detail"/></a></td>
</tr>
{% endfor %}


</table>

{% endblock %}
