{% extends "T/base.html" %}


{% block content %}


<div class="SNP_search">
	<form action="{% url 'snp' %}" method="post">

		{% csrf_token %}

		<table class="table1">
		{{ form.as_table }}
		</table>
		</br>
		<input type="submit" value="Search"  class = "button_SNP" />

	</form>
</div>



{% endblock %}
