{% extends "T/base.html" %}



{% block content %}

{% load staticfiles %}
                    <script src={% static "/JavaS.js" %}></script>    
<div class = "login">
  <form method="post" onsubmit="return confirm('Are you sure?')">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <strong>{{ field.label_tag }}</strong><br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="button">Sign up</button>
  </form>
</div>

{% endblock %}
