/* ------------------------------------------------------------------ */

/* Base */



body {
	padding: 0;
	text-align: justify;
	background: #B0C4DE;
	margin:0;
}

div#container{
	width: 70%;
	margin: 0 auto;
	border: 2px solid black;
	background: white;
}

div#content {
	padding: 0 30px 0 30px;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-left: 50px;
}

div#content a {
	text-decoration:none; 
	color: black;
}

div#content a:visited {
	color:	#808080; 
}


h1 {
	font-family: Courier New, monospace;
	font-size: 25px;
	color: #004d99;
	padding: 0;
	margin: 0;
}

	/* Menu */

ul#menu
{
	height: 40px ;
	margin: 0 ;
	padding: 0 ;
	background-color: #333;
	list-style-type: none ;
	position: absolute;
	width: 70%;
}

ul#menu li
{
	float: left ;
	text-align: center ;
}

ul#menu a
{
	min-width: 100px;
	max-width: 250px;
	line-height: 35px ;
	font-size: 1em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	display: inline-block ;
	text-decoration: none ;
	margin: 0;
	padding: 0;
	color: white;
	background-color:#333;
}

ul#menu li a:hover
{
	color: white;
	background-color: #1E90FF;
}

ul#menu li {
	position: relative;
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.border {
	border-right: 2px solid white ;
}

.logo_home{
	max-width: 25%;
	margin: auto;
	vertical-align: middle;
}

.logo_user{
	max-width: 15%;
	margin: auto;
	vertical-align: middle;
}

.logo_signup{
    max-width: 15%;
    margin: auto;
    vertical-align: middle;
}

.logo_signout{
    max-width: 25%;
    margin: auto;
    vertical-align: middle;
}


.logo_pheno {
	max-width: 25%;
	margin: auto;
	vertical-align: middle;
}

.logo_SNP {
	max-width: 20%;
	margin: auto;
	vertical-align: middle;
}

	
	/* Footer */

#footer {
	text-align: right;
	margin: 0 ;
	background:  #cccccc;
	height: 100px;
	border-top: 5px solid #999999;
	font-weight: bold ;
	display: inline-block;
}

#footer p {
	margin-right: 15px;

}
.coordonnees a {
	display: inline-block;
}

.mail {
	max-width: 3%;
	margin: auto;
	margin-right: 70px;
}

.map {
	max-width: 3%;
	margin: auto;
	margin-right: 30px;
}

.logo_amu {
	max-width: 15%;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}


/* Home page */

.presentation {
	width: 815px;
	margin-left: 15px;
	text-align: justify;
	margin-top: 60px;
	font-size: 0.9em;
}

.phenotypes {
	margin-top: 2%;
	border-width : 5px;
	border-style: outset;
	border-color: #00BFFF #1E90FF;
	border-radius: 20px;
	width: 700px;
	height: 100px;
	margin-left: 100px;
	padding: 1em;
	background-image: url("images/poly.png");
	background-size: 260px;
	background-repeat: no-repeat;
	background-position: right;
	background-color: white;
	font-size: 0.9em;
}

.SNP {
	margin-top: 2%;
	border-width : 5px;
	border-style: outset;
	border-color: #00BFFF #1E90FF;
	border-radius: 20px;
	width: 700px;
	height: 100px;
	margin-left: 100px;
	padding: 1em;
	background-image: url("images/SNP.png");
	background-size: 250px;
	background-repeat: no-repeat;
	background-position: right;
	background-color: white;
	font-size: 0.9em;
}

.align {
	width: 500px;
}

/* Connexion page - sign in */

.login {
	background: #EBEBEB;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #1E90FF;
	width: 700px;
	margin: 50px auto;
	font-size: 0.9em;
}

.login input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	outline: 0;
	font-family: inherit;
	font-size: 0.9em;
}

.button {
	background-color: #1E90FF;
	color: white;
}

/* SNP search page */

.table1 { 
	margin: auto;
}

.SNP_search {
	background: #EBEBEB;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #1E90FF;
	width: 700px;
	margin: 50px auto;
	font-size: 0.9em;
}

.button_SNP {
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	outline: 0;
	font-family: inherit;
	font-size: 0.9em;
	line-height: 5px;
	background-color: #1E90FF;
}

/* Pheno list page */


.table2 {
	border-collapse: collapse;
	margin: auto;
}

.table2 td {
	border-bottom: 1px solid black;
	width: 1100px;
	text-align: center;
	font-size: 0.9em;
	padding-top: 3px;
	padding-bottom: 3px;
}

.title_table2 {
	border-top: 1px solid black;
	background-color: #1E90FF;
	font-weight: bold;
	color: white;
}

.search_l {
	background: #EBEBEB;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #1E90FF;
	width: 700px;
	margin: 50px auto;
	font-size: 1.3em;
}

.button2 {
	background-color: #1E90FF;
	color: white;
	height: 30px;
	margin-left: 600px;
	
}

/* Results page */

.table3 {
	width: 1000px;
	margin: auto;
	border-collapse: collapse;
	margin-top: 25px;
}

.table3 td, tr {
	border-bottom: 1px solid black;
	width: 700px;
	text-align: center;
	font-size: 0.9em;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table3 th {
	border-top: 1px solid black;
	background-color: #1E90FF;
	font-weight: bold;
	color: white;
}


.table4 {
	width: 1100px;
	margin: auto;
	border-collapse: collapse;
	margin-top: 25px;
	border-color: white;
}

.table4 tr, td {
	text-align: center;
	font-size: 0.9em;
	border-color: white;
	width: auto;
}

.table4 tr, th {
	text-align: center;
	font-size: 0.9em;
	padding: 8px;
	border-color: white;
	width: auto;
}

.table4 td {
	text-align: center;
	font-size: 0.9em;
	padding: 0;
	border-color: white;
	width: auto;
}


.title_table4 {
	border-top: 1px solid black;
	background-color: #1E90FF;
	font-weight: bold;
	font-size: 1em;
	color: white;
}

.table5 {
	width: 1100px;
	margin: auto;
	border-collapse: collapse;
	margin-top: 75px;
	margin-bottom: 25px;
	border-color: white;
}

.table5 th {
	border-top: 1px solid black;
	background-color: #1E90FF;
	font-weight: bold;
	border:none;
}

.table5 tr, td {
	text-align: center;
	font-size: 0.9em;
	border-color: white;
	width: auto;
}

.table5 tr, th {
	text-align: center;
	font-size: 0.9em;
	padding: 8px;
	border-color: white;
	width: auto;
}

.table5 td {
	text-align: center;
	font-size: 0.9em;
	padding: 0;
	border-color: white;
	width: auto;
}

#map1 {
	margin-top: 75px;
}
